@page
@using Amorous.Core.AspNetCore.Extensions
@{
    ViewData["Title"] = "Home Page";
}

<div class="ui container">
    <h1 class="display-4">Welcome</h1>
    <p>@(nameof(ConfigurationServiceExtensions.AssetsPath))</p>
    <p>Learn about building Web apps with Amorous.Core</p>
</div>
