@page
@model Scaledriven.Pages.Index

@{
    Layout = "_Layout";
}

<div class="stretched row" style="min-height: 700px">

    <div class="four wide column">
        <div class="ui secondary segment">
            <div class="ui items">
                <p class="ui header">Lists</p>
            </div>
        </div>
    </div>

    <div class="twelve wide column">


    </div>

</div>
