@model Scaledriven.Areas.Association.Models.User
<div class="ui item">
    <div class="content">
        <div class="header">
        <h1>User Component</h1>
        </div>
        <div class="description">
            <p>Introducing @Model.Name. @Model.Name was born as warrior</p>
        </div>
    </div>
</div>
